{
  "parser": "babel-eslint",
  "extends": ["standard"],
  "rules": {
    "comma-dangle": ["warn", "always"],
    "array-bracket-spacing": ["warn", "always"],
    "object-curly-spacing": ["warn", "always"],
    "no-sequences": ["off"],
    "no-console": ["warn"],
    "standard/object-curly-even-spacing": ["off"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "experimentalObjectRestSpread": true
    },
  },
  "env": {
    "jest": true
  }
}
